.expenseItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 1rem auto;
    width: 70%;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.Item-title {
    padding: 15px;
    color: white;
    align-items: center;
}

.Item-date {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgb(27, 24, 29);
    color: white;
    font-size: small;
    width: 30px;
    height: 30px;
    border-radius: 12px;
}

.Item-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: rgb(189, 92, 235);
    color: white;
    width: 56px;
    height: 30px;
    border-radius: 12px;
}